Strange action with viewpart.php (RC5)

I got a mail blocked on my prod server (still in RC5).

The mail coming from a faxprinter was classified as spam because MS said that it do not support "partial part message" (a message in this style). I clicked on detail and after on viewpart. Instead of print the message on screen, viewpart.php was downloaded on my computer.

I found this in the "viewpart.php" file:

```
<br />
<b>Notice</b>:  Undefined index: content-disposition in <b>/var/www/html/mailscanner/viewpart.php</b> on line <b>154</b><br />
Wsm6/wCRksP+uMv9KANaiiigDm5dd1KW6uI9P0vzooZGjLlupB5qrNrOui9gU2QjYg4t+D5v
B5z1GKtPd6ra3Vytloi+W0rHfux5nP3uvepLK61K51O3a90dIgu4ef1KcHpz36UAa2nXUl3a
LLNbyW8vRo3GMEentVqqGkXN7dW7vf2wt5Q+Ao7jA5/nV+gArJvB/wAVHpx/6Zy/yFa1ZF7n
/hI9Mx/zzlz+QoA16y/EZ26NKR2eP/0YtalZPic40K4I6ho//Q1oA1qKKKACuc8Rm3h1PT7i
/TfZDcrAjIDe4/L8jXR1l65qdtYwLHNAbl5uEgC53fWgDG1S70rV7uwgtFFxL5iodqEAR55H
T/8AVUmjWlvY+K7u3tl2okJwC2Tz5Z7/AFNMt9Ru7XL2nhhod3UqCCR/3zmtPR9TtNQu5c2R
tb9V/eB0AYjjv1I6dfagDZrI1/GNNz/z/wAX8zWvWR4g6ab/ANf8X9aANeiiigBsgVo2V8bC
CGyccVzcNlDpwf8AsfWoIgx3GKYo6sfTPUCujkG6NwFDEgja3Q+xrlc6daHbq+hi0/6aqu+M
+ tens of tens of lines not decoded.

```

Unfortunately, I got this mail few days ago and forgot to write the ID. I can't now find it.

Was that ` tens of tens of lines not decoded.` realy in that file?

Found it. Seems to be a scan send by a copier from one of my customer. 

![capture d ecran 2017-04-04 a 17 26 30](https://cloud.githubusercontent.com/assets/12907102/24664827/ee51470c-195b-11e7-9303-3a3c308d5c3a.png)

The message from MS: `MailScanner: Fragmented messages cannot be scanned and are removed`

![capture d ecran 2017-04-04 a 17 31 12](https://cloud.githubusercontent.com/assets/12907102/24665075/94888fae-195c-11e7-8f8f-adb2d7dc5114.png)

When I click on "download" (viewpart.php?id=1cv1dq-0003k6-Jc&part=1), I upload a file named  viewpart.php on my computer.

Never see this before.


I tried to "liberate" the mail and send it to me to see. Still red on GUI. The new generated mail was again blocked by MS (in red, other infection).


And I received this:

```
Warning: This message has had one or more attachments removed
Warning: (the entire message).
Warning: Please read the "XXXXXX-Attachment-Warning.txt" attachment(s) for more information.

This is a message from the MailScanner E-Mail Virus Protection Service
----------------------------------------------------------------------
The original e-mail attachment "the entire message"
was believed to be infected by a virus and has been replaced by this warning
message.

If you wish to receive a copy of the *infected* attachment, please
e-mail helpdesk and include the whole of this message
in your request. Alternatively, you can call them, with
the contents of this message to hand when you call.

At Tue Apr  4 17:40:57 2017 the virus scanner said:
   MailScanner: Fragmented messages cannot be scanned and are removed

Note to Help Desk: Look on The XXXXX (XXXXX) MailScanner in /var/spool/MailScanner/quarantine/20170404 (message 1cvQZi-0005vF-Rw).
```

On RC5, line 154:

```
        default:
            header('Content-Type: ' . $structure->headers['content-type']);
            header('Content-Disposition: ' . $structure->headers['content-disposition']);   ************
            echo $structure->body;
            break;
```



Seems, we have here 2 "problems".

- MS/MW do not want to liberated this kind of message (PartialMessage).
- download of message do not work

I've not found in MS how to authorized MW to liberate it (as in the FAQ, Why are messages quarantined again when I release them in MailWatch?).


For the problem with MS, I finally found the doc. Not very good to activate this feature.

```
Allow Partial Messages
Default is no
Do you want to allow partial messages, which only contain a fraction of the attachments, not the whole thing? There is no way that "partial messages" can be scanned for viruses properly, as only a fragment of the message is ever processed, never the whole message at once. 
Setting this option to yes is very dangerous as it can let viruses in. 
```

Would it be enough if you use
```
default:
            header('Content-Type: ' . $structure->headers['content-type']);
            if (isset($structure->headers['content-disposition'])) {
                header('Content-Disposition: ' . $structure->headers['content-disposition']);
            } else {
                header('Content-Disposition: attachment; filename="attachment"');
            }
            echo $structure->body;
            break;
```

It should just download the content as a file named "attachment" if I understood this correctly:
[https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition)

These are Partial Messages, as defined in [RFC 2046 section 5.2.2](https://tools.ietf.org/html/rfc2046#section-5.2.2).
They can be decoded using [UUDeview](http://www.fpx.de/fp/Software/UUDeview/), after concatenating all parts in the right order (i.e. using `cat part1 part2 part3 > final`).

As you seen they can come from multifunction-printers or I remember some old version of outlook (on Win2000 or XP maybe?) that used to split big attachment in multiple emails.

@stefaweb do you still have message id `1cv1dq-0003k6-Jc` on your systems to test with? or any other similar message from the same scanner

The message 1cv1dq-0003k6-Jc is gone.

I'll try to find a new one.

Not find. The customer did the right setup on its network printer and no longer send this kind of email. 

Just spinned up an ancient Windows XP VM to test this, and it works ;)
![virtualbox_windowx xp_15_06_2017_19_28_48](https://user-images.githubusercontent.com/28512/27194244-2b916186-5202-11e7-885e-0976d231a3e5.png)
![schermata 2017-06-15 alle 19 38 34](https://user-images.githubusercontent.com/28512/27194295-5275f992-5202-11e7-99cb-dcd959a48e49.png)


Great!